body{
  margin:0;
  padding:0;
}
*{
  box-sizing: border-box;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
}
#button,#fermeture{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
#fermeture{
  display: none;
}